In [9]:
import pandas as pd

train = pd.read_csv("train.csv")

In [10]:
import numpy as np

In [11]:
train['label_2'].fillna(train['label_2'].mean(), inplace=True)

In [12]:
train['label_2'] = train['label_2'].astype(int)

In [13]:
train.dropna(subset=['label_4'], inplace=True)

In [14]:
lbl1_train = train[train.columns.difference(['label_2', 'label_3', 'label_4'])]
lbl2_train = train[train.columns.difference(['label_1', 'label_3', 'label_4'])]
lbl3_train = train[train.columns.difference(['label_1', 'label_2', 'label_4'])]
lbl4_train = train[train.columns.difference(['label_1', 'label_2', 'label_3'])]

In [ ]:
from sklearn import svm

In [16]:
def train_model(df):
    X = df.iloc[:, :-1]
    y = df.iloc[:, -1]

    model = svm.SVC(random_state=42)
    model.fit(X, y)

    print(f"Training score: {model.score(X, y)}")
    print(f"Testing score: {model.score(X, y)}")

    return model

In [20]:
model1 = train_model(lbl1_train)

Training score: 0.9987026647966339
Testing score: 0.9987026647966339

In [19]:
model2 = train_model(lbl2_train)

Training score: 0.9890252454417953
Testing score: 0.9890252454417953

In [21]:
model3 = train_model(lbl3_train)

Training score: 0.9997545582047686
Testing score: 0.9997545582047686

In [22]:
model4 = train_model(lbl4_train)

Training score: 0.9922510518934081
Testing score: 0.9922510518934081

In [23]:
test = pd.read_csv("test.csv")

In [29]:
test = test[test.columns.difference(['label_1', 'label_2', 'label_3', 'label_4'])]

In [30]:
test['label_1'] = model1.predict(test[test.columns.difference(['label_1', 'label_2', 'label_3', 'label_4'])])

In [31]:
test['label_2'] = model2.predict(test[test.columns.difference(['label_1', 'label_2', 'label_3', 'label_4'])])

In [32]:
test['label_3'] = model3.predict(test[test.columns.difference(['label_1', 'label_2', 'label_3', 'label_4'])])

In [33]:
test['label_4'] = model4.predict(test[test.columns.difference(['label_1', 'label_2', 'label_3', 'label_4'])])

In [34]:
test.head()

,feature_1,feature_10,feature_100,feature_101,feature_102,feature_103,feature_104,feature_105,feature_106,feature_107,...,feature_94,feature_95,feature_96,feature_97,feature_98,feature_99,label_1,label_2,label_3,label_4
0,-1.141206,-2.729526,-0.972009,0.580536,-0.115635,-1.060545,0.891455,-2.766417,2.061118,1.610883,...,-0.303661,1.786763,2.831582,-1.136554,1.235363,1.902969,45,27,1,6
1,-1.796767,-3.461282,2.192923,2.805736,1.450816,-1.428263,-0.077756,-3.216417,3.504671,-0.096254,...,1.927416,-1.154412,2.567402,0.766687,3.159991,0.387435,45,27,1,6
2,-1.388968,-3.081147,2.695518,0.815327,1.586289,-1.174928,0.801264,-1.502470,4.188352,-1.366310,...,1.238104,-0.637527,0.716910,-0.756478,2.857820,0.928647,45,27,1,6
3,1.276844,-1.714863,1.803796,1.784700,2.889847,0.434343,-0.837194,-1.697381,4.092119,0.647607,...,0.526721,-0.115114,1.458338,-0.217736,1.451269,0.862430,45,27,1,6
4,-1.560815,-2.258071,1.701123,2.165399,0.240543,-0.597141,-0.173436,-2.190523,4.369282,0.300367,...,1.834922,0.636656,2.573324,0.023985,0.696921,0.883026,45,27,1,6

In [2]:
test.to_csv('test_with_predictions.csv', index=False)

NameError: name 'test' is not defined